body{margin-left:3%;margin-right:3%;margin-top:3%;margin-bottom:3%}
.nomargin{margin:0}
p{text-indent:0.24in;margin-left:0;margin-right:0;text-align:justify;margin-top:6pt;margin-bottom:6pt;font-size:127%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:0;margin-left:0;text-align:center;margin-top:48pt;margin-bottom:5pt}
.p2{text-indent:0;margin-left:0;text-align:center;page-break-before:always;margin-top:48pt;margin-bottom:18pt}
.p3{line-height:48pt;page-break-before:always;margin-top:0;margin-bottom:0}
.p4{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:18pt}
.p6{text-indent:0;margin-left:0;text-align:center}
.p7{text-indent:0;margin-left:0;text-align:center;page-break-before:always;margin-top:0;margin-bottom:24pt}
.p8{text-indent:0;margin-left:0;text-align:center;page-break-before:always;margin-top:0}
.p9{text-indent:0;margin-left:-0.2in;margin-right:-0.2in;text-align:center}
.p10{text-indent:0;margin-left:-0.2in;margin-right:-0.2in;text-align:center;page-break-before:always;margin-top:0}
.p11{text-indent:0;margin-left:0}
.p12{text-indent:0;margin-left:0.39in}
.p13{text-indent:0;margin-left:0.38in}
.t1{font-size:1.43em}
.t2{font-size:1.57em}
.t3{font-size:1.14em}
.t4{font-size:.65em;vertical-align:super}
.t5{text-decoration:underline}
